# Twilio and dependencies
twilio==6.35.1
PyJWT==1.7.1
pytz==2019.3
six==1.13.0
requests==2.22.0
# SciPy and dependencies
numpy==1.18.0
scipy==1.4.1
# Sounddevice and dependencies
cffi==1.13.2
sounddevice==0.3.14